<a href="https://colab.research.google.com/github/Thilak-K21/ML-LAB/blob/main/LAB01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
df=pd.read_csv("housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [2]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
df.groupby('ocean_proximity')['ocean_proximity'].count()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
ISLAND           5
NEAR BAY      2290
NEAR OCEAN    2658
Name: ocean_proximity, dtype: int64

In [11]:
missing= df.isnull().sum()
missing[missing > 0]

total_bedrooms    207
dtype: int64

# **LAB 2 Preprocessing**

In [33]:
import pandas as pd
df=pd.read_csv("diabetes.csv")
df.isnull().sum()
df.describe()
df[["BMI", "Urea", "Cr", "HbA1c", "Chol", "TG", "HDL", "LDL", "VLDL"]].min()

BMI      19.0
Urea      0.5
Cr        6.0
HbA1c     0.9
Chol      0.0
TG        0.3
HDL       0.2
LDL       0.3
VLDL      0.1
dtype: float64

In [35]:
import numpy as np

df["Chol"] = df["Chol"].replace(0, np.nan)

In [36]:
df.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         1
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [37]:
df["Gender"].value_counts()

Gender
M    565
F    434
f      1
Name: count, dtype: int64

In [38]:
df["Gender"] = df["Gender"].replace('f', 'F')

In [39]:
df["Gender"].value_counts()

Gender
M    565
F    435
Name: count, dtype: int64

In [40]:
df["Gender"] = df["Gender"].map({"M": 1, "F": 0})

In [41]:
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [42]:
#Handling class
df["CLASS"].value_counts()

CLASS
Y     840
N     102
P      53
Y       4
N       1
Name: count, dtype: int64

In [43]:
df["CLASS"] = df["CLASS"].astype(str).str.strip().str.upper()

In [44]:
df["CLASS"].value_counts()

CLASS
Y    844
N    103
P     53
Name: count, dtype: int64

In [45]:
df["CLASS"] = df["CLASS"].map({
    "N": 0,
    "P": 1,
    "Y": 2
})

In [46]:
df["CLASS"].value_counts()

CLASS
2    844
0    103
1     53
Name: count, dtype: int64

In [47]:
numeric_cols = df.select_dtypes(include="number").columns
numeric_cols

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [48]:
features = ['AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI', 'Gender']
numeric_df = df[features]
numeric_df.describe()

,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Gender
count,1000.000000,1000.000000,1000.000000,1000.000000,999.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,53.528000,5.124743,68.943000,8.281160,4.867688,2.349610,1.204750,2.609790,1.854700,29.578020,0.565000
std,8.799241,2.935165,59.984747,2.534003,1.293252,1.401176,0.660414,1.115102,3.663599,4.962388,0.496005
min,20.000000,0.500000,6.000000,0.900000,0.500000,0.300000,0.200000,0.300000,0.100000,19.000000,0.000000
25%,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000,0.000000
50%,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000,1.000000
75%,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000,1.000000
max,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000,1.000000

In [49]:
Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)
IQR = Q3 - Q1

outliers = ((numeric_df < (Q1 - 1.5 * IQR)) | (numeric_df > (Q3 + 1.5 * IQR)))
outliers.sum()

AGE       98
Urea      65
Cr        52
HbA1c      6
Chol      26
TG        55
HDL       50
LDL       11
VLDL      74
BMI        3
Gender     0
dtype: int64

In [51]:
for col in features:
    lower = Q1[col] - 1.5 * IQR[col]
    upper = Q3[col] + 1.5 * IQR[col]
    df.loc[:, col] = df[col].clip(lower, upper)

/tmp/ipython-input-2641973318.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 46.   62.   46.   46.   46.   24.   50.   47.   67.   28.   55.   53.
  42.   54.   39.   74.   53.   42.   28.   55.  110.5  73.   62.   28.
  55.   45.   80.   99.   54.   49.   82.   55.   70.   73.   67.   67.
  20.   54.   74.   48.   31.   39.   54.   44.   47.   74.   67.   60.
  39.   48.   49.   57.   40.   53.   69.   52.   52.   32.   38.   42.
  55.   45.   85.   64.   38.   63.   50.   45.   38.   10.5  40.   48.
  39.   54.   56.   58.   44.   88.   61.   61.   97.   88.   61.  106.
  70.   61.   35.  110.5  79.   97.   79.  110.5  70.  106.  110.5 110.5
 106.   70.   70.  106.   58.   97.   83.   81.   81.   81.   55.   55.
  55.   53.   87.   59.   74.   53.   59.   44.   74.   44.   53.   59.
  44.   38.   59.   46.   75.   38.   74.   64.   62.   53.   47.   53.
  62.   64.   62.   53.   60.   47.   53.   62.   46.   53.   59.   59.
  53.   60.   52.   64.   37.   62.   60.  110.5  88.   97.  106.   79.
  60.   81.   63.   63.   77.   55.   77.   80.   80.   64.   64.   82.
  82.   80.   56.   56.   38.   59.   59.   42.   39.   39.   62.   65.
  56.   54.   65.   67.   39.   49.   80.   76.   67.   80.   47.   49.
  76.   72.   74.   67.   76.   74.   72.   96.   96.   64.   53.   91.
  32.   31.   38.   38.  110.5  68.   38.   31.  110.5  56.   38.   48.
  80.   42.   73.   91.   62.   80.   45.   23.  106.   92.   65.   60.
  44.   91.   60.   92.   44.   65.   91.   52.   71.   52.   76.   71.
  71.   77.   76.   77.   71.   76.   76.   45.   45.   79.   23.   70.
  23.   64.   52.   79.   79.   93.   70.   93.   79.   64.   52.   76.
  46.   46.   72.   78.   46.   72.   76.   78.   46.  110.5  72.   60.
  92.   67.   46.   60.   46.   60.   68.  110.5  67.   67.   68.   92.
  60.   25.   46.   46.   34.   34.   56.   44.   33.   85.   33.   85.
  44.   45.   63.  110.5  48.   93.   55.   93.   55.  110.5 110.5  48.
  48.   30.   69.   69.  110.5  48.   69.   69.   30.   56.   49.  110.5
  31.   53.  110.5  65.   49.   58.   31.  110.5  31.   53.   65.   58.
 110.5  56.   31.   72.   77.   63.   60.   66.   48.   60.   48.   63.
  63.   66.   77.   77.   48.   77.   63.   48.   56.   36.   58.   58.
  36.   36.   42.   42.   36.   66.   68.   49.   66.   65.   71.   95.
  49.   68.   65.   71.   95.   55.   44.   56.   76.   66.   99.   66.
  99.   93.   55.   66.   61.   87.   66.   44.   44.   76.   76.   44.
  93.   76.   87.   61.   73.   76.   67.   67.   73.   76.  110.5 110.5
  66.   66.   56.   41.   88.   56.   41.   88.   56.   56.   56.   56.
  49.   56.   40.   56.   87.   60.   63.   74.   38.   76.   39.   72.
  56.   39.   60.   84.   20.   87.   63.   63.   79.   72.   48.   56.
  63.   73.   59.   59.   72.   62.   64.   53.   42.   54.   61.   41.
  53.   68.   75.   56.   62.   52.   64.   55.   78.   55.   55.   44.
  55.   72.   87.   55.   71.   61.   25.   62.   87.   75.   35.   35.
  47.   62.   63.   58.   71.   87.   73.   84.   72.   30.   84.   46.
  36.   86.   39.   53.   86.   35.   61.   60.   56.   56.  110.5  42.
  56.  110.5  52.   38.   57.   42.   68.   61.   57.   35.   72.   50.
 110.5  97.   51.   36.   45.  110.5  56.   70.   57.   68.   73.   68.
  78.   73.   41.   45.   70.  110.5  40.   38.   79.   42.   59.   41.
  26.   56.   75.   68.   59.   52.   68.   66.   59.   72.   36.   52.
  48.   49.   74.   45.   59.   49.   46.   48.   48.   37.   40.   48.
  50.   61.   99.   48.   72.   56.   84.   53.   45.   48.   99.   89.
  68.   53.   48.   46.   68.   73.   68.   88.   73.   56.   34.   98.
  64.  110.5 110.5  56.  110.5  56.   95.   63.   95.   72.   72.   56.
  56.   63.  110.5  52.   63.   39.   76.   83.   40.   63.   56.   72.
  63.   63.   31.   31.   38.   54.   45.   41.   45.   98.   55.   41.
  62.   66.   63.   56.   63.   63.   43.   32.   56.   63.   48.   56.
  64.   45.   44.   56.   53.   72.   87.   87.   74.   56.   56.   56.
 110.5 110.5 110.5  56.   72.   58.   58.   56.   66.   62.   38.   39.
  38.   36.   65.   45.   56.   56.   72.   45.   39.   67.   45.   67.
  56.   57.   57.   72.   56.   45.   22.   59.   84.   69.  110.5  76.
  39.   74.   55.   63.  107.   72.   80.   34.   49.   56.   50.   35.
  72.   63.   60.   50.   63.   45.   34.   72.   61.   36.   51.   64.
  37.  110.5  68.   40.   83.   58.   83.   83.   70.   70.   56.   68.
  62.   62.   22.   55.   68.   50.   56.   72.   87.   81.   62.   78.
  30.   86.   88.   86.   34.   39.   34.   34.   34.   61.   76.   35.
  56.   76.   39.   75.   83.   90.   70.   35.   57.   41.   41.   89.
  55.   27.   29.   43.   32.   48.   35.   41.   43.   64.   32.   54.
  49.   33.   36.   49.   72.   49.   56.   36.   76.   70.   67.   67.
  49.   56.   30.   61.   55.   62.   49.   49.   39.   33.   68.   44.
  33.   68.   70.   33.   34.   45.   54.   71.   38.   38.   71.   72.
  36.   39.  110.5 110.5  60.   70.   57.   74.   48.   44.   48.   28.
  50.   79.   41.   58.   32.   90.   78.   66.   78.   57.   59.   66.
  53.   53.   49.   49.   57.   63.   48.   72.   74.   59.   69.   62.
  47.   47.   72.   51.   51.   78.  110.5  56.   55.  101.   67.   66.
  60.   52.   30.  110.5  44.   50.   60.   83.  110.5  59.   72.   54.
  38.   47.   62.   41.   59.   83.   80.   71.   68.   24.   99.   51.
  67.   52.   46.   46.   51.   46.   73.   52.   58.   44.   43.   83.
  46.   59.   79.   38.  110.5  51.   67.   32.   44.   72.   53.   35.
  72.   56.   38.   55.   42.   59.   51.   48.   41.   41.   64.   61.
  70.   52.   49.   92.   54.  110.5  82.   39.   57.   57.   56.   55.
  46.   55.   62.   77.   82.   70.   34.   39.   88.   55.   84.   81.
  55.   80.   23.   62.   38.   52.   32.   41.  110.5  67.   52.   59.
  27.   70.   61.  110.5 106.   79.   61.   79.   53.   61.   61.  110.5
  79.  110.5  79.   97.  106.   88.   70.  106.  106.  110.5  70.   53.
 110.5  70.  110.5  79.   53.  110.5  70.   70.   83.   97.   88.  106.
  70.  110.5  55.   62.   88.   82.   70.   34.   39.   61.  110.5  97.
  60.   81.   59.   67. ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:, col] = df[col].clip(lower, upper)

In [52]:
df[features].describe()

,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Gender
count,1000.000000,1000.000000,1000.000000,1000.000000,999.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,53.986000,4.826843,62.345000,8.280960,4.846667,2.280610,1.142250,2.591640,1.14040,29.566770,0.565000
std,7.363968,1.714231,20.297906,2.532224,1.206270,1.150887,0.348675,1.039511,0.62744,4.926358,0.496005
min,39.000000,0.700000,10.500000,0.950000,1.600000,0.300000,0.300000,0.300000,0.10000,19.000000,0.000000
25%,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.70000,26.000000,0.000000
50%,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.90000,30.000000,1.000000
75%,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.50000,33.000000,1.000000
max,71.000000,8.700000,110.500000,15.750000,8.000000,5.000000,1.900000,5.550000,2.70000,43.500000,1.000000

In [53]:
df[features] = numeric_df

In [54]:
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,0
1,735,34221,1,39,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,0,50,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,0
3,680,87656,0,50,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,0
4,504,34223,1,39,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,1,71,8.7,97.0,7.0,7.5,1.7,1.2,1.8,0.6,30.0,2
996,671,876534,1,39,3.0,60.0,12.3,4.1,2.2,0.7,2.4,2.7,37.2,2
997,669,87654,1,39,7.1,81.0,6.7,4.1,1.1,1.2,2.4,2.7,27.4,2
998,99,24004,1,39,5.8,59.0,6.7,5.3,2.0,1.6,2.9,2.7,40.5,2
999,248,24054,1,54,5.0,67.0,6.9,3.8,1.7,1.1,3.0,0.7,33.0,2